{{>headdashboard}}
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{#if coordinador}}
      {{>sidebardashboard}}
    {{/if}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          {{#if coordinador}}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard - {{roll}}</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">cursos disponibles</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{cantidadCursosDisponibles}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cursos cerrados</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{cursosCerrados}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-book-open fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ganancia cursos cerrados</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ganancia}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Crear cursos</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item" href="#">Proximamente nuevas funciones</a>
                      <a class="dropdown-item" href="#">Proximamente nuevas funciones</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Proximamente nuevas funciones</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body py-3 d-flex flex-row align-items-center">
                  <div class="col-xl-12">
                       <div class="form-style-3">
                           <div class="row justify-content-center">
                             <div class="col-xl-12">
                               {{#if resultshow}}
                                <div id="mydiv" class="card text-white bg-{{cardcolor}}">
                                    <div class="card-body">
                                      <p class="card-text">{{resultshow}}</p>
                                    </div>
                                </div><br>
                               {{/if}}
                              </div>
                             <form action="/dashboardadmin" method="post">
                                <fieldset><legend>Informacion general del curso</legend>
                                  <label for="field1"><span>Nombre<span class="required">*</span></span><input type="text" class="input-field" name="nombreCurso"  required /></label>
                                  <label for="field2"><span>Valor <span class="required">*</span></span><input type="text"  class="input-field" name="valor" required /></label>
                                  <label for="field3"><span>Intensidad <span class="required">*</span></span><input type="text" class="input-field" name="intensidad"  required /></label>
                                  <label for="field4"><span>Modalidad</span><select name="modalidad" class="select-field">
                                  <option value="Presencial">Presencial</option>
                                  <option value="Virtual">Virtual</option>
                                  </select></label>
                                  <label for="field4"><span>Estado</span><select name="estado" class="select-field">
                                  <option value="Disponible">Disponible</option>
                                  <option value="En espera">En espera</option>
                                  </select></label>
                                </fieldset>
                                <fieldset><legend>Descripcion del curso</legend>
                                  <label for="field6"><span>Descripcion <span class="required">*</span></span><textarea name="descripcion" class="textarea-field" required ></textarea></label>
                                </fieldset>
                                <div class="form-group">
                                  <button class="btn btn-primary btn-block" name="guardar_curso" type="submit">Guardar</button>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                  </div>
              <!-- Card Body -->
            </div>
          </div>
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-8">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Cursos</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">¿QUÉ QUIERES HACER?:</div>
                    <a class="dropdown-item" href="/dashboardadmin?verCursosDisponibles=true">Ver cursos</a>
                    <a class="dropdown-item" href="/dashboardadmin?verUsuarios=true">Ver usuarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div  class="card-body" style="overflow-x:auto;">
                  {{#if verCursosDisponibles}}
                      {{{closeCourse courses}}}
                  {{/if}}

                  {{#if verUsuarios}}
                    {{{modifyUser misusuarios}}}
                  {{/if}}

                  <div class="col-sm" style="overflow-x:auto;">
                  {{#if resultshow2}}
                    <div id="mydiv" class="card text-white bg-{{cardcolor2}}">
                        <div class="card text-white bg-{{cardcolor2}}">
                          <div class="card-body">
                            <p class="card-text">{{resultshow2}}</p>
                          </div>
                        </div>
                    </div><br>
                  {{/if}}
                  </div>
              </div>
            </div>
          </div>
          <!-- Pie Chart -->
          <!-- Content Row final space -->
              <div class="row">
                <!-- Content Column -->
                  <div class="col-lg-6 mb-4"></div>
                  <div class="col-lg-6 mb-4"></div>
              </div>
          <!-- Content Row final space-->
        </div>
        <!-- /.container-fluid -->
        {{else}}
        <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-8">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Upss</h6>

            </div>
            <!-- Card Body -->
            <div  id="container" class="card-body">
                      <h2>Ups! no tienes acceso a esta pagina logeate</h2>
            </div>
          </div>
        </div>
        <!-- Pie Chart -->
        <!-- Content Row final space -->
            <div class="row">
              <!-- Content Column -->
                <div class="col-lg-6 mb-4"></div>
                <div class="col-lg-6 mb-4"></div>
            </div>
        <!-- Content Row final space-->
      </div>

        {{/if}}
      </div>
      <!-- End of Main Content -->
    <!-- Footer -->
    {{>footerdashboard}}
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


  <!-- card hide-->
  <script>
      anychart.onDocumentReady(function() {
          var chart = anychart.fromJson({{chartData}});
          chart.container("container");
          chart.draw();
      });
  </script>


  <script>
    setTimeout(function() {
        $('#mydiv').fadeOut('fast');
    }, 6000);
  </script>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseas salir ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Salir" para terminar la sesion actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/exit">Salir</a>
        </div>
      </div>
    </div>
  </div>

<!-- listado de profesores Modal-->
{{#if asigna}}
  <script>
    window.onload = function(){
      var button = document.getElementById('clickButton');
          setTimeout(function(){
             button.click();
         },200);
    }
  </script>

  <input id="clickButton" class="button" type="hidden" data-toggle="modal" data-target="#loginModal"/>
  <div class="modal fade " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-show="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selecione un profesor</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">{{{assignTeacher teachers}}}</div>
        <div class="modal-footer">
          <a class="btn btn-primary" href={{path}} name="profesor" value="">Asignar</a>
        </div>
      </div>
    </div>
  </div>
{{/if}}

</body>
</html>
